.wrap {
  height: 100vh;
  display: flex;
  flex-direction: column;
  .header {
    height: 80px;
    flex-shrink: 0;
    background-color: $primary-color;
    border-bottom: 2px solid $accent-color;
  }
  .content {
    flex-grow: 1;
    overflow: scroll;
  }
  .footer {
    height: 80px;
    flex-shrink: 0;
    background-color: $primary-color;
  }
}
